@page "/fetchdata"
@using Common
@inject WeatherService weatherService 
@using Microsoft.AspNetCore.Authorization
@using webapp.Services

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>Connected to API: @apiEndpoint</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string apiEndpoint = "";

    private WeatherForecastModel[] forecasts = new WeatherForecastModel[] { };

    protected override async Task OnInitializedAsync()
    {
        apiEndpoint = WeatherService.GetBaseAddress();

        try
        {
            forecasts = await weatherService.GetWeatherForecastAsync() ?? new WeatherForecastModel[] { };
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
